body {
    padding: 0;
    margin: 0;
    background-color: rgba(5, 34, 28, 0.4);
    font-family: Raleway, Helvetica, Arial, san-serif;
    overflow-x: hidden !important;
}

/*----styled erase icon----*/
.erase {
    width: 1rem;
    height: 1rem;
    right: 2rem;
    top: 2rem;
    position: absolute;
}

.erase i {
    font-size: 1.8rem;
    color: white;
}

.erase i:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(30deg);
}

/*----styled date----*/
#date {
    position: absolute;
    bottom: 8px;
    left: 1rem;
    color: #FFF;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}

/*----main content----*/
.container1 {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: .0rem;
    margin-top: 25px;
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 0px 12px 0 0;
}

.header {
    width: 100%;
    height: 155px;
    background-image: url('../images/bground.png');
    background-size: 100% 200%;
    object-fit: cover;
    border-radius: 0px 12px 0 0;
    position: relative;
}

h1 {
    color: #FFF;
    left: 1rem;
    top: 10px;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

h2 {
    color: goldenrod;
    left: 1rem;
    top: 26px;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    position: absolute;
}

.content {
    height: 70vh;
    background-color: #FFF;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/*----scrollbar Ref: W3shools----*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: goldenrod;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d4b4b;
}

.content ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.item {
    margin-left: .3rem;
    margin-right: .3rem;
    margin-top: 3px;
    height: 2.6rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    width: 98%;
}

.item p.text {
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-size: 1.1rem;
    left: 1.6rem;
    top: 5px;
    word-spacing: 4px;
    width: 68%;
}

ul li {
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
    text-align: left;
}

.lineThrough {
    text-decoration: line-through;
    color: rgb(51, 50, 50);
}

/*----styled added item----*/
.add-to-do {
    position: relative;
    width: auto;
    height: 70%;
    padding: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.add-to-do i {
    position: relative;
    font-size: 2rem;
    color: goldenrod;
}

.add-to-do input {
    left: 50px;
    height: 35px;
    width: 78%;
    background-color: white;
    border: none;
    font-size: 1rem;
    padding-left: 12px;
}

/*----styled font awesome icons----*/
.fa-trash-alt::before {
    margin-top: 16px;
    font-size: 1.1rem;
    margin-top: 10px;
    position: relative;
    left: 76vw;
}

i#undefined.far.fa-trash-alt {
    margin-top: 10px;
}

.far-fa-circle::before {
    font-size: 2rem;
    left: 18vw;
}

.far-fa-check-circle::before {
    color: green;
    font-size: 1rem;
}

/*----media query for mobile----*/
@media only screen and (max-width: 375px) {
    .content {
        width: 100%;
        height: 20vh;
    }
}

/*----media query for mobile----*/
@media only screen and (max-width: 320px) {
    .content {
        width: 100%;
        height: 20vh;
    }
}